UIElementsSchema/UnityEditor.PackageManager.UI.Internal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:engine="UnityEngine.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="UnityEditor.Accessibility"
           elementFormDefault="qualified" targetNamespace="UnityEditor.PackageManager.UI.Internal">
    <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements"/>
    <xs:complexType name="SignInBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q1="UnityEditor.PackageManager.UI.Internal" name="SignInBar"
                substitutionGroup="engine:VisualElement" type="q1:SignInBarType"/>
    <xs:complexType name="DropdownButtonType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q2="UnityEditor.PackageManager.UI.Internal" name="DropdownButton"
                substitutionGroup="engine:VisualElement" type="q2:DropdownButtonType"/>
    <xs:complexType name="InProgressViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q3="UnityEditor.PackageManager.UI.Internal" name="InProgressView"
                substitutionGroup="engine:VisualElement" type="q3:InProgressViewType"/>
    <xs:complexType name="SelectableLabelType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="-1" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="emoji-fallback-support" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="parse-escape-sequences" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="selectable" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="double-click-selects-word" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="triple-click-selects-line" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="display-tooltip-when-elided" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q4="UnityEditor.PackageManager.UI.Internal" name="SelectableLabel"
                substitutionGroup="engine:VisualElement" type="q4:SelectableLabelType"/>
    <xs:complexType name="PackageDetailsBodyType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q5="UnityEditor.PackageManager.UI.Internal" name="PackageDetailsBody"
                substitutionGroup="engine:VisualElement" type="q5:PackageDetailsBodyType"/>
    <xs:complexType name="ExtendableToolbarMenuType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="emoji-fallback-support" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="parse-escape-sequences" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="selectable" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="double-click-selects-word" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="triple-click-selects-line" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="display-tooltip-when-elided" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="icon-image" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q6="UnityEditor.PackageManager.UI.Internal" name="ExtendableToolbarMenu"
                substitutionGroup="engine:VisualElement" type="q6:ExtendableToolbarMenuType"/>
    <xs:complexType name="MultiSelectDetailsType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q7="UnityEditor.PackageManager.UI.Internal" name="MultiSelectDetails"
                substitutionGroup="engine:VisualElement" type="q7:MultiSelectDetailsType"/>
    <xs:complexType name="ToolbarWindowMenuType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="text" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enable-rich-text" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="emoji-fallback-support" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="parse-escape-sequences" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="selectable" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="double-click-selects-word" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="triple-click-selects-line" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="display-tooltip-when-elided" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="icon-image" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q8="UnityEditor.PackageManager.UI.Internal" name="ToolbarWindowMenu"
                substitutionGroup="engine:VisualElement" type="q8:ToolbarWindowMenuType"/>
    <xs:complexType name="PackageToolbarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q9="UnityEditor.PackageManager.UI.Internal" name="PackageToolbar"
                substitutionGroup="engine:VisualElement" type="q9:PackageToolbarType"/>
    <xs:complexType name="TagLabelListType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q10="UnityEditor.PackageManager.UI.Internal" name="TagLabelList"
                substitutionGroup="engine:VisualElement" type="q10:TagLabelListType"/>
    <xs:complexType name="PackageDetailsHeaderType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q11="UnityEditor.PackageManager.UI.Internal" name="PackageDetailsHeader"
                substitutionGroup="engine:VisualElement" type="q11:PackageDetailsHeaderType"/>
    <xs:complexType name="PackageStatusBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q12="UnityEditor.PackageManager.UI.Internal" name="PackageStatusBar"
                substitutionGroup="engine:VisualElement" type="q12:PackageStatusBarType"/>
    <xs:complexType name="ScopedRegistriesSettingsType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q13="UnityEditor.PackageManager.UI.Internal" name="ScopedRegistriesSettings"
                substitutionGroup="engine:VisualElement" type="q13:ScopedRegistriesSettingsType"/>
    <xs:complexType name="PackageLoadBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q14="UnityEditor.PackageManager.UI.Internal" name="PackageLoadBar"
                substitutionGroup="engine:VisualElement" type="q14:PackageLoadBarType"/>
    <xs:simpleType name="Sidebar_mode_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Vertical"/>
            <xs:enumeration value="Horizontal"/>
            <xs:enumeration value="VerticalAndHorizontal"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Sidebar_nested-interaction-kind_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Default"/>
            <xs:enumeration value="StopScrolling"/>
            <xs:enumeration value="ForwardScrolling"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Sidebar_horizontal-scroller-visibility_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto"/>
            <xs:enumeration value="AlwaysVisible"/>
            <xs:enumeration value="Hidden"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Sidebar_vertical-scroller-visibility_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto"/>
            <xs:enumeration value="AlwaysVisible"/>
            <xs:enumeration value="Hidden"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Sidebar_touch-scroll-type_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Unrestricted"/>
            <xs:enumeration value="Elastic"/>
            <xs:enumeration value="Clamped"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SidebarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute xmlns:q15="UnityEditor.PackageManager.UI.Internal" default="Vertical" name="mode"
                              type="q15:Sidebar_mode_Type" use="optional"/>
                <xs:attribute xmlns:q16="UnityEditor.PackageManager.UI.Internal" default="Default"
                              name="nested-interaction-kind"
                              type="q16:Sidebar_nested-interaction-kind_Type" use="optional"/>
                <xs:attribute default="false" name="show-horizontal-scroller" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="show-vertical-scroller" type="xs:boolean" use="optional"/>
                <xs:attribute xmlns:q17="UnityEditor.PackageManager.UI.Internal" default="Auto"
                              name="horizontal-scroller-visibility"
                              type="q17:Sidebar_horizontal-scroller-visibility_Type" use="optional"/>
                <xs:attribute xmlns:q18="UnityEditor.PackageManager.UI.Internal" default="Auto"
                              name="vertical-scroller-visibility"
                              type="q18:Sidebar_vertical-scroller-visibility_Type" use="optional"/>
                <xs:attribute default="-1" name="horizontal-page-size" type="xs:float" use="optional"/>
                <xs:attribute default="-1" name="vertical-page-size" type="xs:float" use="optional"/>
                <xs:attribute default="18" name="mouse-wheel-scroll-size" type="xs:float" use="optional"/>
                <xs:attribute xmlns:q19="UnityEditor.PackageManager.UI.Internal" default="Clamped"
                              name="touch-scroll-type"
                              type="q19:Sidebar_touch-scroll-type_Type" use="optional"/>
                <xs:attribute default="0.135" name="scroll-deceleration-rate" type="xs:float" use="optional"/>
                <xs:attribute default="0.1" name="elasticity" type="xs:float" use="optional"/>
                <xs:attribute default="16" name="elastic-animation-interval-ms" type="xs:long" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q20="UnityEditor.PackageManager.UI.Internal" name="Sidebar"
                substitutionGroup="engine:VisualElement" type="q20:SidebarType"/>
    <xs:complexType name="PackageDetailsLinksType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q21="UnityEditor.PackageManager.UI.Internal" name="PackageDetailsLinks"
                substitutionGroup="engine:VisualElement" type="q21:PackageDetailsLinksType"/>
    <xs:complexType name="PackageManagerToolbarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q22="UnityEditor.PackageManager.UI.Internal" name="PackageManagerToolbar"
                substitutionGroup="engine:VisualElement" type="q22:PackageManagerToolbarType"/>
    <xs:complexType name="PackageDetailsType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q23="UnityEditor.PackageManager.UI.Internal" name="PackageDetails"
                substitutionGroup="engine:VisualElement" type="q23:PackageDetailsType"/>
    <xs:simpleType name="PackageListView_virtualization-method_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FixedHeight"/>
            <xs:enumeration value="DynamicHeight"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageListView_selection-type_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Single"/>
            <xs:enumeration value="Multiple"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageListView_show-alternating-row-backgrounds_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="ContentOnly"/>
            <xs:enumeration value="All"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageListView_reorder-mode_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Simple"/>
            <xs:enumeration value="Animated"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageListView_binding-source-selection-mode_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Manual"/>
            <xs:enumeration value="AutoAssign"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PackageListViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Ignore" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="25" name="fixed-item-height" type="xs:float" use="optional"/>
                <xs:attribute xmlns:q24="UnityEditor.PackageManager.UI.Internal" default="FixedHeight"
                              name="virtualization-method"
                              type="q24:PackageListView_virtualization-method_Type" use="optional"/>
                <xs:attribute default="false" name="show-border" type="xs:boolean" use="optional"/>
                <xs:attribute xmlns:q25="UnityEditor.PackageManager.UI.Internal" default="Multiple"
                              name="selection-type"
                              type="q25:PackageListView_selection-type_Type" use="optional"/>
                <xs:attribute xmlns:q26="UnityEditor.PackageManager.UI.Internal" default="None"
                              name="show-alternating-row-backgrounds"
                              type="q26:PackageListView_show-alternating-row-backgrounds_Type" use="optional"/>
                <xs:attribute default="false" name="reorderable" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="horizontal-scrolling" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="show-foldout-header" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="header-title" type="xs:string" use="optional"/>
                <xs:attribute default="false" name="show-add-remove-footer" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="allow-add" type="xs:boolean" use="optional"/>
                <xs:attribute default="true" name="allow-remove" type="xs:boolean" use="optional"/>
                <xs:attribute xmlns:q27="UnityEditor.PackageManager.UI.Internal" default="Simple" name="reorder-mode"
                              type="q27:PackageListView_reorder-mode_Type" use="optional"/>
                <xs:attribute default="true" name="show-bound-collection-size" type="xs:boolean" use="optional"/>
                <xs:attribute xmlns:q28="UnityEditor.PackageManager.UI.Internal" default="Manual"
                              name="binding-source-selection-mode"
                              type="q28:PackageListView_binding-source-selection-mode_Type" use="optional"/>
                <xs:attribute default="" name="item-template" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q29="UnityEditor.PackageManager.UI.Internal" name="PackageListView"
                substitutionGroup="engine:VisualElement" type="q29:PackageListViewType"/>
    <xs:complexType name="AlertType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q30="UnityEditor.PackageManager.UI.Internal" name="Alert" substitutionGroup="engine:VisualElement"
                type="q30:AlertType"/>
    <xs:complexType name="PackageListType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q31="UnityEditor.PackageManager.UI.Internal" name="PackageList"
                substitutionGroup="engine:VisualElement" type="q31:PackageListType"/>
    <xs:complexType name="LoadingSpinnerType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q32="UnityEditor.PackageManager.UI.Internal" name="LoadingSpinner"
                substitutionGroup="engine:VisualElement" type="q32:LoadingSpinnerType"/>
    <xs:complexType name="ProgressBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q33="UnityEditor.PackageManager.UI.Internal" name="ProgressBar"
                substitutionGroup="engine:VisualElement" type="q33:ProgressBarType"/>
    <xs:complexType name="PackageDetailsTabViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q34="UnityEditor.PackageManager.UI.Internal" name="PackageDetailsTabView"
                substitutionGroup="engine:VisualElement" type="q34:PackageDetailsTabViewType"/>
    <xs:complexType name="PackagePlatformListType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q35="UnityEditor.PackageManager.UI.Internal" name="PackagePlatformList"
                substitutionGroup="engine:VisualElement" type="q35:PackagePlatformListType"/>
    <xs:complexType name="VersionInfoIconType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q36="UnityEditor.PackageManager.UI.Internal" name="VersionInfoIcon"
                substitutionGroup="engine:VisualElement" type="q36:VersionInfoIconType"/>
    <xs:complexType name="PackageSearchBarType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q37="UnityEditor.PackageManager.UI.Internal" name="PackageSearchBar"
                substitutionGroup="engine:VisualElement" type="q37:PackageSearchBarType"/>
    <xs:simpleType name="PackageListScrollView_mode_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Vertical"/>
            <xs:enumeration value="Horizontal"/>
            <xs:enumeration value="VerticalAndHorizontal"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageListScrollView_nested-interaction-kind_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Default"/>
            <xs:enumeration value="StopScrolling"/>
            <xs:enumeration value="ForwardScrolling"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageListScrollView_horizontal-scroller-visibility_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto"/>
            <xs:enumeration value="AlwaysVisible"/>
            <xs:enumeration value="Hidden"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageListScrollView_vertical-scroller-visibility_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto"/>
            <xs:enumeration value="AlwaysVisible"/>
            <xs:enumeration value="Hidden"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PackageListScrollView_touch-scroll-type_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Unrestricted"/>
            <xs:enumeration value="Elastic"/>
            <xs:enumeration value="Clamped"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PackageListScrollViewType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="package-list-scrollview-key" name="view-data-key" type="xs:string"
                              use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute xmlns:q38="UnityEditor.PackageManager.UI.Internal" default="Vertical" name="mode"
                              type="q38:PackageListScrollView_mode_Type" use="optional"/>
                <xs:attribute xmlns:q39="UnityEditor.PackageManager.UI.Internal" default="Default"
                              name="nested-interaction-kind"
                              type="q39:PackageListScrollView_nested-interaction-kind_Type" use="optional"/>
                <xs:attribute default="false" name="show-horizontal-scroller" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="show-vertical-scroller" type="xs:boolean" use="optional"/>
                <xs:attribute xmlns:q40="UnityEditor.PackageManager.UI.Internal" default="Hidden"
                              name="horizontal-scroller-visibility"
                              type="q40:PackageListScrollView_horizontal-scroller-visibility_Type" use="optional"/>
                <xs:attribute xmlns:q41="UnityEditor.PackageManager.UI.Internal" default="Auto"
                              name="vertical-scroller-visibility"
                              type="q41:PackageListScrollView_vertical-scroller-visibility_Type" use="optional"/>
                <xs:attribute default="-1" name="horizontal-page-size" type="xs:float" use="optional"/>
                <xs:attribute default="-1" name="vertical-page-size" type="xs:float" use="optional"/>
                <xs:attribute default="18" name="mouse-wheel-scroll-size" type="xs:float" use="optional"/>
                <xs:attribute xmlns:q42="UnityEditor.PackageManager.UI.Internal" default="Clamped"
                              name="touch-scroll-type"
                              type="q42:PackageListScrollView_touch-scroll-type_Type" use="optional"/>
                <xs:attribute default="0.135" name="scroll-deceleration-rate" type="xs:float" use="optional"/>
                <xs:attribute default="0.1" name="elasticity" type="xs:float" use="optional"/>
                <xs:attribute default="16" name="elastic-animation-interval-ms" type="xs:long" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q43="UnityEditor.PackageManager.UI.Internal" name="PackageListScrollView"
                substitutionGroup="engine:VisualElement" type="q43:PackageListScrollViewType"/>
</xs:schema>