UIElementsSchema/UnityEditor.Audio.UIElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:engine="UnityEngine.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="UnityEditor.Accessibility"
           elementFormDefault="qualified" targetNamespace="UnityEditor.Audio.UIElements">
    <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements"/>
    <xs:complexType name="TickmarksType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q1="UnityEditor.Audio.UIElements" name="Tickmarks" substitutionGroup="engine:VisualElement"
                type="q1:TickmarksType"/>
    <xs:complexType name="AudioRandomRangeSliderTrackerType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q2="UnityEditor.Audio.UIElements" name="AudioRandomRangeSliderTracker"
                substitutionGroup="engine:VisualElement" type="q2:AudioRandomRangeSliderTrackerType"/>
    <xs:complexType name="AudioContainerElementClipFieldType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="true" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="binding-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="label" type="xs:string" use="optional"/>
                <xs:attribute default="" name="value" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="allow-scene-objects" type="xs:boolean" use="optional"/>
                <xs:attribute default="UnityEngine.Object" name="type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q3="UnityEditor.Audio.UIElements" name="AudioContainerElementClipField"
                substitutionGroup="engine:VisualElement" type="q3:AudioContainerElementClipFieldType"/>
    <xs:complexType name="AudioLevelMeterType">
        <xs:complexContent mixed="false">
            <xs:restriction base="engine:VisualElementType">
                <xs:attribute default="" name="name" type="xs:string" use="optional"/>
                <xs:attribute default="true" name="enabled" type="xs:boolean" use="optional"/>
                <xs:attribute default="" name="view-data-key" type="xs:string" use="optional"/>
                <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type"
                              use="optional"/>
                <xs:attribute default="" name="tooltip" type="xs:string" use="optional"/>
                <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type"
                              use="optional"/>
                <xs:attribute default="0" name="tabindex" type="xs:int" use="optional"/>
                <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional"/>
                <xs:attribute default="Inherit" name="language-direction"
                              type="engine:VisualElement_language-direction_Type" use="optional"/>
                <xs:attribute default="" name="data-source" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-path" type="xs:string" use="optional"/>
                <xs:attribute default="" name="data-source-type" type="xs:string" use="optional"/>
                <xs:attribute default="" name="content-container" type="xs:string" use="optional"/>
                <xs:attribute default="" name="class" type="xs:string" use="optional"/>
                <xs:attribute default="" name="style" type="xs:string" use="optional"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:q4="UnityEditor.Audio.UIElements" name="AudioLevelMeter" substitutionGroup="engine:VisualElement"
                type="q4:AudioLevelMeterType"/>
</xs:schema>